html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-bottom: 60px;
    -webkit-font-smoothing: antialiased;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #ffffff;
}

.footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footer .container .text-muted {
    margin: 20px 0;
    text-align: center;
}

#usersList tr:hover {
    cursor: pointer;
}

.social > li {
    padding-left: 0 !important;
}
